<!doctype html>
<html lang="en">
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Stock tracker</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-
alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
 </head>
 <body>
  <h1>Enter stock symbol:</h1>
	<form method="POST" action="/stock">
		<label for="symbol">Symbol:</label>
		<input type="text" id="symbol" name="symbol">
		<button type="submit">Submit</button>
	</form>
	<h2>Symbol: {{ stock_symbol }}</h2>
 </body>
</html>