<!DOCTYPE html>
<html>
  <head>
    <title>Stock Data</title>
    <script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
  </head>
  <body>
    <h1>Stock Information Search</h1>
    <form action="/" method="POST">
      <label for="symbol">Stock Symbol:</label>
      <input type="text" id="symbol" name="symbol">
      <input type="submit" value="Submit">
    </form>
    <h1>Stock Data</h1>
    <h2>Overview</h2>
    Stock Symbol: {{data.overview['Symbol']}}<br>
    Company Name: {{data.overview['Name']}}<br>
    Sector: {{data.overview['Sector']}}<br>
    Industry: {{data.overview['Industry']}}<br>
    Market Capitalization:{{data.overview['MarketCapitalization']}}<br>
    Price to Earnings Ratio:{{data.overview['PERatio']}}<br>
    Earnings per share:{{data.overview['EPS']}}<br>
    Dividend:{{data.overview['DividendPerShare']}}<br>
    Dividend yield:{{data.overview['DividendYield']}}<br>
    Stock exchange:{{data.overview['Exchange']}}<br>
    52 week high:{{data.overview['52WeekHigh']}}<br>
    52 week low:{{data.overview['52WeekLow']}}
    <h2>Stock Price</h2>
    Current price:{{data.intra['Global Quote']['05. price']}}<br>
    Previous close:{{data.intra['Global Quote']['08. previous close']}}<br>
    Open:{{data.intra['Global Quote']['02. open']}}<br>
    Volume:{{data.intra['Global Quote']['06. volume']}}
    <h3>Recent News</h3>
    <br>
    Title: <br><br>
    <ul>
       <li><a href="{{data.news[2]}}" target="_blank">{{data.news[0]}}</a></li>
    </ul><br><br>
    Summary: <br><br>{{data.news[1]}}<br><br>
    Title: <br><br>
    <ul>
      <li><a href="{{data.news[5]}}" target="_blank">{{data.news[3]}}</a></li>
   </ul><br><br>
    Summary: <br><br>{{data.news[4]}}<br><br>
    Title: <br><br>
    <ul>
      <li><a href="{{data.news[8]}}" target="_blank">{{data.news[6]}}</a></li>
   </ul><br><br>
    Summary: <br><br>{{data.news[7]}}<br><br>
    Title: <br><br>
    <ul>
      <li><a href="{{data.news[11]}}" target="_blank">{{data.news[9]}}</a></li>
   </ul><br><br>
    Summary: <br><br>{{data.news[10]}}<br><br>
    Title: <br><br>
    <ul>
      <li><a href="{{data.news[14]}}" target="_blank">{{data.news[12]}}</a></li>
   </ul><br><br>
    Summary: <br><br>{{data.news[13]}}<br>
    <h4>Closing Stock Prices</h4>
    
    <div id="myDiv"></div>
    <script>
    var prices = {{closing_prices|safe}}
    var dates = {{dates|safe}}
    
    var trace1 = {
      type: "scatter",
      mode: "lines",
      name: 'Closing price',
      x: dates,
      y: prices,
      line: {color: '#17BECF'}
    }
    
    var data = [trace1];
    
    var layout = {
      title: name,
    };
    
    Plotly.newPlot('myDiv', data, layout);


  </script>
  </body>
</html>
