<!doctype html>
<html lang="en">
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Stock tracker</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css">
 
 </head>
 <body>
	<h1>Enter stock information:</h1>
	<form method="POST" action="/stock">
		<label for="symbol">Symbol:</label>
		<input type="text" id="symbol" name="symbol">
		<br>
		<label for="tracking_price">Tracking price:</label>
		<input type="number" id="tracking_price" name="tracking_price"step="0.01">
		<br>
		<label for="num_shares">Number of shares:</label>
		<input type="number" id="num_shares" name="num_shares">
		<br>
		<button type="submit">Submit</button>
	  </form>	  
	  
	  <br>
	  <h1>Stocks:</h1>
	  <table id="example" class="table table-striped" style="width:100%">
		<thead>
		  <tr>
			<th>Symbol</th>
			<th>Tracking Price</th>
			<th>Number of Shares</th>
			<th>Current Price</th>
			<th>Percentage Change</th>
			<th>Date Added</th>
			<th>Actions</th>
		  </tr>
		</thead>
		<tbody>
		  {% for stock in stocks %}
			<tr>
			  <td>{{ stock['symbol'] }}</td>
			  <td>{{ stock['tracking_price'] }}</td>
			  <td>{{ stock['num_shares'] }}</td>
			  <td>{{ stock['current_price'] }}</td>
			  <td>{{ '{:.2f}%'.format(stock['percentage_change']) }}</td>
			  <td>{{ stock['date_added'] }}</td>
			  <td>
				<form method="POST" action="/remove_stock">
					<input type="hidden" name="stock_id" value="{{ stock['id'] }}">
					<button type="submit">Remove</button>
				</form>
			</td>
			</tr>
		  {% endfor %}
		</tbody>
	  </table>
	  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
	  <script>
		$(document).ready(function () {
    $('#example').DataTable();
      });
	  </script>				
   </body>
</html>
