{% extends 'base.html' %}

{% block header %}
  <h1>Stock History Graph</h1>
  <a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}

{% block content %}
  <!-- Add the code to display the stock history graph here -->
  <div id="plotly-graph"></div>
  
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script>
    var data = [];
    var layout = {};
    
    // Read in and process data from the CSV file
    Plotly.d3.csv("static/SPY.csv", function(err, rows) {
      if (err) throw err;
      
      // Process the data from the CSV file
      var dates = [];
      var prices = [];
      for (var i = 0; i < rows.length; i++) {
        dates.push(rows[i].Date);
        prices.push(rows[i].Close);
      }
      
      // Add the processed data to the data array
      data = [{
        x: dates,
        y: prices,
        type: "scatter",
        mode: "lines+markers",
        marker: {
          color: "red"
        }
      }];
      
      // Define the layout of the graph
      layout = {
        title: "S & P 500 Index History",
        xaxis: {
          title: "Date",
          showgrid: false
        },
        yaxis: {
          title: "Price",
          showline: false
        }
      };
      
      // Plot the graph
      Plotly.newPlot("plotly-graph", data, layout);
    });
  </script>
{% endblock %}
