{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ post['title'] }}{% endblock %}</h1>
  <a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div>
        <h1>{{ post['title'] }}</h1>
        <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
      </div>
    </header>
    <p>{{ post['body'] }}</p>
  </article>
{% endblock %}
